<!DOCTYPE html>
html(lang="de")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/style.css")
    title Lucinda
  body
    h1 Lucinda
    form(action="/query" method="get")
      label(for="num") Zahl der Resultate
      input(type="num" name="num", id="num" value=num size="3")
      label(for="offset") ab Position:
      input(type="text" name="offset" id="offset" value=offset)
      label(for="request") Suchbegriff(e)
      input(type="search" name="request" value=term id="request" size="40")

      button(type="submit")= sendtext 
    .results
      ul 
        each res in results
          - const url="/lucinda/3.0/get/"+res.id
          li
            p= res.concern 
              | : 
              a(href=url)  #{res.title}
            


          